---
import WorkLabel from "./WorkLabel.astro";

const works = [
  {
    color: "#8490e8",
    company: "Orbi Finance",
    photo: "./images/works/orbi.webp",
    time: "Mar 2023 - Actual",
    work: "Software Engineer",
    icons: ["bx bxl-vuejs","bxl-react", "bxl-graphql", "bxl-typescript"],
  },
  {
    color: "#85c440",
    company: "99minutos",
    photo: "./images/works/99min.png",
    time: "Nov 2022 - Mar 2023",
    work: "Software Engineer",
    icons: ["bxl-react", "bx-server", "bx-check-shield", "bxl-typescript"],
  },
  {
    color: "#fd8898",
    company: "Around",
    photo: "./images/works/Around.png",
    time: "Abr 2022 - Nov 2022",
    work: "React Native Engineer Jr",
    icons: [
      "bxl-react",
      "bx-mobile-alt",
      "bxl-graphql",
      "bxl-firebase",
      "bx-check-shield",
      "bxl-typescript",
    ],
  },
  {
    color: "#f74b73",
    company: "Matter",
    photo: "./images/works/Matter.png",
    time: "Dic 2021 - Jun 2022",
    work: "React Native Engineer",
    icons: ["bx-mobile-alt", "bxl-firebase", "bxl-typescript"],
  },
  {
    color: "#d0bea9",
    company: "Freelance",
    photo: "./images/works/Freelance.png",
    time: "Jun 2021 - Dic 2021",
    work: "Mobile Developer",
    icons: ["bx-mobile-alt", "bxl-firebase"],
  },
];
---

<article class="md:grid md:grid-cols-2 md:gap-8 mb-16">
  <div>
    <h2 class="text-3xl font-bold md:text-5xl mb-4">Experiencia ⭐</h2>
    <p class="mb-8 md:text-lg">
      Es los lugares donde he trabajado me ha tocado empezar proyectos desde
      cero, dar mantenimiento y agregar nuevas funciones, todo enfocado a
      producto y manteniendo un buen performance en los proyectos
    </p>
  </div>
  <div class="grid gap-4 md:gap-8">
    {
      works.map((data) => (
        <WorkLabel
          color={data.color}
          company={data.company}
          photo={data.photo}
          time={data.time}
          work={data.work}
          icons={data.icons}
        />
      ))
    }
  </div>
</article>
