---
export interface Props {
  work: string;
  company: string;
  time: string;
  photo: string;
  color: string;
  icons: string[];
}

const { color, company, photo, time, work, icons } = Astro.props;
---

<div class="worklabel">
  <img src={photo} alt={`${company} logo`} />
  <div>
    <h3>{work}</h3>
    <p>{company} {time}</p>
    <p class="stack">
      {icons.map((icon) => <i class={`bx ${icon}`} />)}
    </p>
  </div>
</div>

<style define:vars={{ color }}>
  h3 {
    font-size: xx-large;
    margin: 0;
    transition: ease-out 200ms;
  }
  p {
    margin: 0%;
    font-size: large;
  }

  .worklabel:hover > div > h3 {
    color: var(--color);
  }

  .worklabel {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 1rem;
  }

  img {
    height: 5rem;
    border-radius: 50%;
  }

  .stack {
    opacity: 0;
    transition: ease-out 200ms;
    margin-top: 8px;
    display: flex;
    gap: 6px;
  }

  .worklabel:hover > div > .stack {
    opacity: 1;
  }

  @media only screen and (max-width: 800px) {
    h3 {
      font-size: x-large;
    }
  }
</style>
